

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu {
    text-decoration: none;
    color: white;
    letter-spacing: 0.05em;
    padding: 1rem;
    font-size: 24px;
}

.About_us {
    color: white;
    margin-left: 20px;
    font-size: 55px;
    font-weight: 700px;


}

.About_content {
    color: white;
    margin: 20px;
    letter-spacing: 0.05em;
}

a{
    text-decoration: underline;  
    color: rgb(0, 0, 0);
    letter-spacing: 0.05em; 
       
}

h2{
    margin-bottom: 0.7rem;
}

li{
    list-style-type: none;
    margin-bottom: 0.7rem;
}

.heading_contect_{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    font-size: 3.5rem;
    opacity: 70%;
    margin-right: 1rem;

}
.CardOne:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    
   background-image: url(./img/Cardone.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    color: white;
    opacity: 90%;
}
.CardTwo:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.738);
    transition: 0.5s;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0); 
   background-image: url(./img/CardTwo.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    color: white;
    opacity: 90%;
}
.CardThree:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 20px rgb(0, 0, 0);
   background-image: url(./img/CardThree.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    color: white;
    opacity: 90%;
}
.CardFour:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 20px rgb(0, 0, 0); 
   background-image: url(./img/CardFour.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    color: white;
    opacity: 90%;
}
.NavbarLogo{
    width: 138px;
    height: 47px;
    margin-left: 20px;
}
.FooterLogo{
    width: 138px;
    height: 47px;
}
.heading_home{
    padding-bottom: 0.8em;
}
